version: '3.3'

services:
    mbon_data_uploader:
        container_name: mbon_data_uploader
        build: ./mbon_data_uploader
        ports:
            - 5000:5000
        environment:
            - FLASK_APP=mbon_data_uploader  # TODO: this can be deleted?
            - POSTGIS_HOSTNAME=tylar-pc.marine.usf.edu
            - POSTGRES_USER=postgis_user
            - POSTGRES_PASS=${POSTGRES_PASS}
            - POSTGRES_PORT=5432
            - POSTGRES_DB=worldview_images
            - SCHEMA_NAME=files_schema
            - TABLE_NAME=files_table

    postgis:
        container_name: postgis
        build: ./postgis
        environment:
            - POSTGRES_USER=postgis_user
            - POSTGRES_PASSWORD=${POSTGRES_PASS}
            - ALLOW_IP_RANGE=0.0.0.0/0
            - POSTGRES_DB=worldview_images
            # - POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting
            # - POSTGRES_HOST_AUTH_METHOD=trust" to allow all conns. *not* recommended.
            - SCHEMA_NAME=files_schema
            - TABLE_NAME=files_table

        ports:
            - "5432:5432"
        volumes:
            - ./postgis/data-dir:/var/lib/postgresql
            # - ./postgis/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d/
